<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357282088079-3ag12t01e8lfp8v04jog933imudu7kmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357282088079-3ag12t01e8lfp8v04jog933imudu7kmk</string>
	<key>API_KEY</key>
	<string>AIzaSyBthGj-1w6MPjaCFPFC6OMN35X6YyORCX4</string>
	<key>GCM_SENDER_ID</key>
	<string>357282088079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.babu.test.flickrAPI-image-search</string>
	<key>PROJECT_ID</key>
	<string>flickrimage-1d1bb</string>
	<key>STORAGE_BUCKET</key>
	<string>flickrimage-1d1bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357282088079:ios:c289fb7ef4a27ab6a51cfa</string>
	<key>DATABASE_URL</key>
	<string>https://flickrimage-1d1bb.firebaseio.com</string>
</dict>
</plist>